
body {
    font-family: arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color: #4682b4;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
}

main {
    padding: 2rem;
}

div {
    margin-bottom: 2rem;
}

img {
    width: 1000px;
}

h2 {
    color: #333;
}

code {
    background-color: #e0e0e0;
    padding: 2px 4px;
    border-radius: 4px;
}

pre{
    background-color: #e8f4fc;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
}