body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
}

header {
    background-color: #E69DB8;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

