body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
}

.logo a {
    font-size: 50px;
    font-weight:800;
    float: left;
    font-family: courier ;
}

header {
    background-color: #211C84;
    color: white;
    padding: 20px;
}

ul{
    text-align: left;
    list-style-type: square;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px;
    text-align: center;
}

#tentang {
    background-color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    border-left: 5px solid blue;
    text-align: left;
    box-shadow: 2px 2px 10px rgba (0, 0, 0, 0.1);
}

#tentang h2 {
    margin-bottom: 10px; /* Jarak bawah judul */
}

#kursus {
    background: #B5A8D5;
}

#kontak {
    background: #f4f4f4;
}

.card {
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: justify;
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    text-align: center;
}

.course {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

form{
    max-width: 400px;
    margin: auto;
    text-align: left;
}


label,input,textarea{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}


button{
    background: rgb(60, 60, 237);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: blue;
}

.btn {
    display: inline-block;
    background: #7A73D1;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn:hover {
 background-color: blue ;
}

.detail {
    background: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}


footer{
    background: #211C84;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
